<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.navigation_drawer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegistrationSociety2"></activity>
        <activity android:name=".RegistrationSociety1" />
        <activity android:name=".RegistrationSociety" />
        <activity android:name=".TermsAndCondition" />
        <activity android:name=".RegistrationIndividual" />
        <activity android:name=".RegistrationOption" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tenant.TenantActivity" />
        <activity android:name=".wings.WingDetailsActivity" />
        <activity android:name=".wings.WingsActivity" />
        <activity android:name=".society.SocietyFormActivity" />
        <activity android:name=".members.MemberListActivity" />
        <activity android:name=".members.MembersFormActivity" />
        <activity android:name=".visitorinfo.CheckInPageDetailsActivity" />
        <activity android:name=".visitorinfo.CheckoutPageDetailsActivity" />
        <activity
            android:name=".visitorinfo.CheckInOutActivity"
            android:label="@string/title_activity_check_in_out"
            android:theme="@style/ThemeCheckInOut" />
        <activity android:name=".visitorinfo.VisitorListActivity" />
        <activity android:name=".SecretaryFormActivity" />
        <activity android:name=".visitorinfo.VisitorInfoFormActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>